<div class="project-description">
  <div class="left">
    <h2>Spike Rainbow</h2>
    <p i18n>
      Spike Rainbow is an artisanal bakery located in Cali, Colombia, that
      needed to expand its online presence through an ecommerce platform.
    </p>
    <p i18n>
      As part of my web development studies, I adapted a previous functional
      ecommerce project, redesigning the interface and tailoring the content to
      reflect Spike Rainbow's brand and products.
    </p>
    <p i18n>
      The result is an online store that provides an engaging and personalized
      experience for the bakery's customers.
    </p>
    <img
      class="alert"
      src="/under-construction.png"
      alt="Under construction"
      height="100px"
    />
    <p class="note" i18n>
      (This site is under construction! The current design still reflects the
      base project. I'm actively working on updating it to the bakery theme.)
    </p>
  </div>
  <div class="right">
    <img src="/spikerainbow.jpg" alt="Logo de Spike Rainbow" height="200px" />
    <p>
      URL:
      <a
        href="https://spike-rainbow.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
        >https://spike-rainbow.vercel.app/</a
      >
    </p>
  </div>
</div>
