.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  box-sizing: border-box;
}

img {
  height: 59px;
  margin: 15px 0;
}

a {
  margin-left: 40px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease, background 0.3s ease;
}

a:hover {
  color: transparent;
  background: linear-gradient(to right, #1ba8e8, #481ad6);
  -webkit-background-clip: text;
  background-clip: text;
}
