<div class="project-description">
  <div class="left">
    <h2>ContaCol</h2>
    <p>
      Developed as part of the Smart Projects program by Foo Talent Group,
      ContaCol is a web app designed to simplify electronic invoice management
      in Colombia through automation.
    </p>
    <p>
      Created for "Inversiones Agroambientales H&R", this application enables
      efficient management of the collection, storage, and payment validation of
      electronic invoices, ensuring accurate data extraction and minimizing
      human error.
    </p>
    <h3>Access credentials</h3>
    <p>Email: admin-true&#64;contacol.com</p>
    <p>Password: Admin2024*</p>
    <p class="note">
      (Logging in may take up to 1 minute as the backend reactivates after a
      period of inactivity)
    </p>
  </div>
  <div class="right">
    <img src="/contacol-2.png" alt="Logo de ContaCol" height="200px" />
    <p>
      URL:
      <a
        href="https://contacol.pages.dev/"
        target="_blank"
        rel="noopener noreferrer"
        >https://contacol.pages.dev/</a
      >
    </p>
  </div>
</div>
