<div class="projects-container">
  <div class="project polemicoin" (click)="selectProject('polemicoin')">
  <div class="overlay">
    <span>Polemicoin</span>
  </div>
</div>
  <div class="project contacol" (click)="selectProject('contacol')">
    <div class="overlay">
      <span>ContaCol</span>
    </div>
  </div>
  <div class="project spikerainbow" (click)="selectProject('spikerainbow')">
    <div class="overlay">
      <span>Spike Rainbow</span>
    </div>
  </div>
  <div class="project cresentia" (click)="selectProject('cresentia')">
    <div class="overlay">
      <span>Cresentia</span>
    </div>
  </div>
</div>
