<div class="first-section">
  <p class="intro-text">Hi there!</p>
  <h1 class="main-title">I'm Andrés</h1>
  <p class="subtitle">
    Web developer <i class="bi bi-circle-fill"></i> Based in Colombia
  </p>
  <div class="social-media">
    <a class="social-media-button" href="#"><i class="bi bi-linkedin"></i></a>
    <a class="social-media-button" href="#"><i class="bi bi-github"></i></a>
  </div>
</div>
<div class="second-section">
  <div class="second-section-side">
    <p>
      I am a technology enthusiast committed to continuous learning. Currently,
      I am venturing into the IT field—a long-time area of interest in which I
      am determined to grow professionally. I am known for my focus on
      self-improvement and personal growth, along with my teamwork skills,
      empathy, and adaptability in various situations.
    </p>
  </div>
  <div class="second-section-side">
    <h2>My Tech Stack</h2>
    <div class="technologies">
      <div class="technologies-icons">
        <h3>Frontend</h3>
        <p>Angular</p>
        <img
          class="tech-logo"
          src="https://seeklogo.com/images/A/angular-icon-logo-5FC0C40EAC-seeklogo.com.png"
          alt="Angular"
        />
        <p>React (Coming soon...)</p>
        <img
          class="tech-logo"
          src="https://static-00.iconduck.com/assets.00/react-original-wordmark-icon-840x1024-vhmauxp6.png"
          alt="React"
        />
      </div>
      <div class="technologies-icons">
        <h3>Backend</h3>
        <p>Node.js</p>
        <img
          class="tech-logo"
          src="https://img.icons8.com/?size=512&id=54087&format=png"
          alt="Node"
        />
        <p>Python (basic)</p>
        <img
          class="tech-logo"
          src="https://cdn.iconscout.com/icon/free/png-256/free-python-logo-icon-download-in-svg-png-gif-file-formats--brand-development-tools-pack-logos-icons-226051.png?f=webp&w=256"
          alt="Pyton"
        />
      </div>
      <div class="technologies-icons">
        <h3>Databases</h3>
        <p>MongoDB</p>
        <img
          class="tech-logo"
          src="https://miro.medium.com/v2/resize:fit:512/1*doAg1_fMQKWFoub-6gwUiQ.png"
          alt="MongoDB"
        />
      </div>
    </div>
  </div>
</div>
<div class="third-section">
  <h2>My Projects</h2>
  <div class="project-selector">
    <p>All</p>
    <p>ContaCol</p>
    <p>SpikeRainbow</p>
    <p>CreSentia</p>
  </div>
  <div class="project-container"></div>
</div>
