<div id="first-section" class="first-section">
  <p class="intro-text" i18n>Hi there!</p>
  <h1 class="main-title" i18n>I'm Andrés</h1>
  <p class="subtitle" i18n>
    Web developer <i class="bi bi-circle-fill"></i> Based in Colombia
  </p>
  <div class="social-media">
    <a
      class="social-media-button"
      href="https://www.linkedin.com/in/amhernandez13-fullstack-developer/"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="bi bi-linkedin"></i
    ></a>
    <a
      class="social-media-button"
      href="https://github.com/amhernandez13"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="bi bi-github"></i
    ></a>
  </div>
</div>
<div id="second-section" class="second-section">
  <div class="second-section-side">
    <p i18n>
      I am a person passionate about technology and committed to continuous
      learning.
    </p>
    <p i18n>
      Currently, I am venturing into the IT field, an area that has always
      interested me and in which I am determined to develop professionally.
    </p>
    <p i18n>
      I stand out for my focus on self-improvement and individual growth, and I
      possess teamwork skills, empathy, and adaptability to different
      situations.
    </p>
  </div>
  <div class="second-section-side">
    <h2 class="tech" i18n>My Tech Stack</h2>
    <div class="technologies">
      <div class="technologies-icons">
        <h3>Frontend</h3>
        <p>Angular</p>
        <img
          class="tech-logo"
          src="https://seeklogo.com/images/A/angular-icon-logo-5FC0C40EAC-seeklogo.com.png"
          alt="Angular"
        />
        <p i18n>React (Coming soon...)</p>
        <img
          class="tech-logo"
          src="https://static-00.iconduck.com/assets.00/react-original-wordmark-icon-840x1024-vhmauxp6.png"
          alt="React"
        />
      </div>
      <div class="technologies-icons">
        <h3>Backend</h3>
        <p>Node.js</p>
        <img
          class="tech-logo"
          src="https://img.icons8.com/?size=512&id=54087&format=png"
          alt="Node"
        />
        <p i18n>Python (basic)</p>
        <img
          class="tech-logo"
          src="https://cdn.iconscout.com/icon/free/png-256/free-python-logo-icon-download-in-svg-png-gif-file-formats--brand-development-tools-pack-logos-icons-226051.png?f=webp&w=256"
          alt="Pyton"
        />
      </div>
      <div class="technologies-icons">
        <h3 i18n>Databases</h3>
        <p>MongoDB</p>
        <img
          class="tech-logo"
          src="https://miro.medium.com/v2/resize:fit:512/1*doAg1_fMQKWFoub-6gwUiQ.png"
          alt="MongoDB"
        />
      </div>
    </div>
  </div>
</div>
<div id="third-section" class="third-section">
  <h2 i18n>My Projects</h2>

  <!-- Selector de proyecto con eventos de clic -->
  <div class="project-selector">
    <p
      [class.selected]="currentComponent === 'all-projects'"
      (click)="showComponent('all-projects')"
      i18n
    >
      All
    </p>
    <p
      [class.selected]="currentComponent === 'contacol'"
      (click)="showComponent('contacol')"
    >
      ContaCol
    </p>
    <p
      [class.selected]="currentComponent === 'spikerainbow'"
      (click)="showComponent('spikerainbow')"
    >
      Spike Rainbow
    </p>
    <p
      [class.selected]="currentComponent === 'cresentia'"
      (click)="showComponent('cresentia')"
    >
      CreSentia
    </p>
  </div>

  <!-- Contenedor de proyectos que muestra solo el componente seleccionado -->
  <div class="project-container">
    <ng-container *ngIf="currentComponent === 'all-projects'">
      <app-all-projects
        (projectSelected)="showComponent($event)"
      ></app-all-projects>
    </ng-container>

    <ng-container *ngIf="currentComponent === 'contacol'">
      <app-contacol></app-contacol>
    </ng-container>

    <ng-container *ngIf="currentComponent === 'spikerainbow'">
      <app-spikerainbow></app-spikerainbow>
    </ng-container>

    <ng-container *ngIf="currentComponent === 'cresentia'">
      <app-cresentia></app-cresentia>
    </ng-container>
  </div>
</div>
<app-footer></app-footer>
