<div class="project-description">
  <div class="left">
    <h2>CreSentia</h2>
    <p i18n>
      CreSentia is a Colombian company focused on psychological well-being,
      offering personalized therapeutic programs that promote personal balance.
    </p>
    <p i18n>
      As part of my studies, I had the opportunity to contribute to the initial
      development of their upcoming web app.
    </p>
    <p i18n>
      In this project, I developed a registration form for one of CreSentia's
      user types, designed as a step-by-step process using a stepper format.
    </p>
    <p i18n>
      This customized form guides the user through each registration stage,
      completing the process by securely and efficiently sending all information
      to the backend.
    </p>
  </div>
  <div class="right">
    <img src="/cresentia-long.png" alt="Logo de CreSentia" height="200px" />
    <p>
      URL:
      <a
        href="https://cresentia-register-form.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
        >https://cresentia-register-form.vercel.app/</a
      >
    </p>
  </div>
</div>
